* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.dropdown {
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  margin-top: 2rem;
  width: 5rem;
  width: auto;
  display: grid;
  grid-template-columns: auto 10rem auto;
  text-align: center;
  justify-content: center;
}

.dropdown-btn {
  user-select: none;
  font-weight: bold;
  color: rgb(12, 11, 11);
  cursor: pointer;
  padding: 0.4rem;
}
.dropdown-btn :hover {
  height: 2rem;
  color: rgb(80, 118, 221);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.4rem;
}

.dropdown-content {
  position: absolute;
  margin-top: 4rem;
  margin-left: 22rem;
  padding: 1px;
  width: 30rem;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  text-align: left;
}
.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: left;
  padding-left: 2rem;
}

.dropdown-content :hover {
  padding: 11px;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
  border-left: 2px solid #000;
  padding-left: 1rem;
}

.pagination-nav__sublabel {
  margin-bottom: -300px;
}

.pagination-nav {
  display: grid;
  grid-gap: var(--ifm-spacing-horizontal);
  gap: 50rem;
  grid-template-columns: repeat(2, 1fr);
}
.pagination-nav__link {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
  display: block;
  height: 100%;
  line-height: var(--ifm-heading-line-height);
  padding: 1.5rem;
  transition: border-color var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}
.pagination-nav__link--prev {
  text-align: right;
}

.pagination-nav__link--next {
  text-align: left;
}
